<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bubble Sheet Grading</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="splash-screen">
    <div class="splash-content">
      <h1>Bubble Sheet Grading</h1>
      <p>Upload an image to process</p>
      
      <form id="imageForm" enctype="multipart/form-data" method="POST">
        <input type="file" id="imageInput" name="image" accept="image/*" required>
        <div class="button-group">
          <button type="submit">Upload Image</button>
        </div>
      </form>
    </div>
    <div class="splash-image">
      <img src="/static/Images/bubblesheet.png" alt="Placeholder Image" />
    </div>
  </div>

  <script>
    // Handle the image upload
    document.getElementById('imageForm').addEventListener('submit', function(event) {
      event.preventDefault();
      let formData = new FormData(this);

      fetch('/upload', {
        method: 'POST',
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        alert('Image uploaded successfully');
        window.location.href = '/answer-key'; 
      })
      .catch(error => console.error('Error:', error));
    });
  </script>
</body>
</html>
