<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OMR Image Processing</title>
</head>
<body>

  <h1>OMR Image Processing</h1>

  <form id="imageForm" enctype="multipart/form-data">
    <input type="file" id="imageInput" name="image" accept="image/*" required>
    <button type="submit">Upload Image</button>
  </form>

  <br>

  <button id="processButton" onclick="runScript()">Show Result</button>

  <br><br>
  <div id="result"></div>

  <script>
    document.getElementById('imageForm').addEventListener('submit', function(event) {
      event.preventDefault();
      let formData = new FormData(this);

      fetch('/upload', {
        method: 'POST',
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        alert('Image uploaded successfully');
      })
      .catch(error => console.error('Error:', error));
    });

    function runScript() {
      fetch('/run-script', {
        method: 'GET',
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        alert('Script executed successfully!');
      })
      .catch(error => console.error('Error:', error));
    }
  </script>
</body>
</html>
